:root {
    --first-color: #fd9e02;
    --second-color: #126782;
    --third-color: #fb8500;
    --fourth-color: #219ebc;
    --fifth-color: #ffb703;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

header {
    position: -webkit-sticky;
    position: sticky;
    color: antiquewhite;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
    background-color: var(--second-color);
    
}
navbar h1 {
    font-size: 50px;
    font-weight: 700;
    color: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 20px;
    
}
navbar ul {
    display: inline-flex;
}
navbar ul li {
    padding: 20px;
    font-size: 20px;
    
}

a {
    text-decoration: none;
}

.navbar-item {
    text-decoration: none;
    color: antiquewhite;
}

.navbar-item:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: var(--second-color);
}

hero {
    
    text-align: center;
    
    height: auto;
    margin: 10px;
    
    
}
hero h2 {
    font-size: 30px;
}
hero h3 {
    font-size: 20px;
}

.mobile-description {
    display: none;
}

.card {
    height: auto;
    background-image: url("../image/Sunset-Freedom-Tower.jpg");
    background-size: cover;
    border-bottom: 10px var(--first-color) solid;
    text-align: center;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 25%;
    justify-content: space-between;
}
.card-header {
    display: block;
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: var(--second-color);
    box-shadow: none;
    margin-bottom: 200px;
    padding-top: 50px;
    text-align: center;
    font-style: italic;
}
.card-body {
    background-color: var(--second-color);
    max-width: 75%;
    color: antiquewhite;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}
.input-group {
    padding: 5px;
}



/* #hotel-results-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center; 
    text-align: center;
} */

#weather-results-container {
    display: flex;
    justify-content: center;
    text-align: center;

}

.header-title {
    font-size: 100px;
}

.card-header {
    justify-content: space-between;
}

.form-label {
    font-size: 20px;
}
.form-input {
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

#searchBtn {
    padding: 5px 15px;
    background-color: white;
    color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 5px;
    font-size: 1.25rem;
}

#searchBtn:hover {
    cursor: pointer;
    background-color: var(--second-color);
    border: 2px solid white;
    color: white;
}

footer {
    background-color: var(--first-color);
    color: var(--first-color);
}
footer h3 {
    font-size: 25px;
}
footer div {
    font-size: 15px;
}
footer h3, footer div {
    padding: 10px;
}

/* hotel.html styles */


main {
    background-image: url("../image/Sunset-Freedom-Tower.jpg");
    background-size: cover;
}

.result-title {
    font-family: 'Ubuntu', sans-serif;
    color: var(--second-color);
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding: 25px 0px;
    
}

#weather-results-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

#WR-01, #WR-02, #WR-03, #WR-04, #WR-05 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    margin: 10px;
    min-width: 257px;
    max-width:326px;
    color: antiquewhite;
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 5px;
    height: 250px;

}

.WR-date, .HR-name {
    font-weight: 800;
    font-size: 1.7rem;
}

.WR-detail  {
   height: 100%;
    display: flex;
   flex-direction: column;
   justify-content: space-around;
   font-size: 1.25rem;
   text-align: right;
}


.search-result-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.previous-search-display {
    background-color: var(--third-color);
    padding-bottom: 10px;;
}
#previous-search-title {
    text-align: center;
    font-size: 40px;
}

.PSD-item {
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    background-color: var(--fifth-color);
    text-align: center;
}
.PSD-detail {
    font-size: 25px;
}
.is-danger, .is-link {
    margin: 5px 20px 10px 20px;
}

.hotel-result {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.hotel-result h4 {
    font-size: 20px;
    font-style: bold;
    padding-bottom: 20px;
}

#HR-01, #HR-02, #HR-03, #HR-04, #HR-05 {
    padding: 10px 25px;
    margin: 10px;
    color: antiquewhite;
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 302px;
    height: 642px;
}

/* .HR-detail  {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.25rem;
    text-align: right;
 } */

iframe {
    width: 250px;
    height: 250px;
}

.HR-picture {
    width: 250px;
    height: 250px;
    padding-top: 20px;
}

#notFoundItems {
    height: 800px;
}
.result-title {
    padding-top: 100px;
}

@media screen and (max-width: 980px) {
    html,body {
        width: 100%;
        height:100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    navbar h1 {
        font-size: 40px;
        margin-left: 20px;
    }

    .card {
        padding: 0;
        align-items: center;
    }
    .card-body {
        /* width: 100%; */
        margin: auto;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 20px;
    }
 
    hero {
        display: none;
    }

    .mobile-description {
        display: block;
        text-align: center;
        background-color: var(--second-color);
        padding: 20px 5px 5px 5px;
    }
    .mobile-description h2 {
        font-size: 20px;
    }
    .mobile-description h3 {
        font-size: 15px;
    }

    
}

@media screen and (max-width: 510px) {
    .card-body {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .card-header {
        padding-top: 0;
    }

    navbar h1 {
        padding-left: 5px;
    }
    navbar ul li {
        padding: 0;
    }
}