:root {
    --first-color: #fd9e02;
    --second-color: #126782;
    --third-color: #fb8500;
    --fourth-color: #219ebc;
    --fifth-color: #ffb703;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    position: -webkit-sticky;
    position: sticky;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--second-color);
    background-color: var(--first-color);
    padding-bottom: 5px;
}
navbar h1 {
    font-size: 50px;
    font-family: 'Crimson Text', serif;
}
navbar ul {
    display: inline-flex;
}
navbar li {
    padding: 20px;
    font-size: 20px;
    color: var(--first-color);
}
navbar a {
    text-decoration: none;
    color: var(--second-color);
}

hero {
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: var(--second-color);
    color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
}
hero h2 {
    font-size: 30px;
}
hero h3 {
    font-size: 20px;
}

.card {
    height: auto;
    background-image: url("../image/Sunset_Freedom_Tower.jpg");
    background-size: cover;
    border-bottom: 10px var(--first-color) solid;
    text-align: center;

    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 25%;
    justify-content: space-between;
}
.card-header {
    display: block;
    font-size: 70px;
    color: var(--third-color);
    box-shadow: none;
    margin-bottom: 200px;
    padding-top: 50px;
    align-content: center;
    font-style: italic;
}
.card-body {
    background-color: var(--fourth-color);
    min-width: 100%;
    color: antiquewhite;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    margin-top: 30px;
}
.input-group {
    padding: 5px;
}

#hotel-results-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center; 
    text-align: center;
}

#weather-results-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: center;

}

.header-title {
    font-size: 100px;
}

.card-header {
    justify-content: space-between;
}

.form-label {
    font-size: 20px;
}
.form-input {
    font-size: 20px;
    border-radius: 50px;
}

#searchBtn {
    padding: 5px 15px;
    background-color: var(--second-color);
    color: antiquewhite;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    font-size: 1.25rem;
}

#searchBtn:hover {
    cursor: pointer;
    background-color: var(--fourth-color);
    border: 2px solid var(--second-color);
}

/* hotel.html styles */

main {
    background-image: url("../image/Sunset_Freedom_Tower.jpg");
    background-size: cover;
}

.result-title {
    color: var(--third-color);
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
}

#weather-results-container {
    display: flex;
    justify-content: center;
    
    
}

#WR-01, #WR-02, #WR-03, #WR-04, #WR-05 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    margin: 0px 10px;
    color: antiquewhite;
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 5px;
    height: 250px;

}

.WR-detail  {
   height: 100%;
    display: flex;
   flex-direction: column;
   justify-content: space-around;
   font-size: 1.25rem;
   text-align: right;
}


.search-result-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-result {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

#HR-01, #HR-02, #HR-03, #HR-04, #HR-05 {
    padding: 10px 25px;
    margin: 0px 10px;
    color: antiquewhite;
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 302px;
    height: 642px;
}

.HR-detail  {
    height: 100%;
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.25rem;
    text-align: right;
 }

iframe {
    width: 250px;
    height: 250px;
}

.HR-picture {
    width: 250px;
    height: 250px;
}