.header-title {
	text-align: center;
	font-size: 2rem;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;
}

.card-header {
	justify-content: center;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.card {
	display: flex;
	flex-direction: column;
}

footer {
	display: flex;
	justify-content: center;
}
