@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --first-color: #fd9e02;
    --second-color: #126782;
    --third-color: #fb8500;
    --fourth-color: #219ebc;
    --fifth-color: #ffb703;
}

* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}